body{
  background-color: #EEE2DE;
}
.nav{
  background-color: #ca4b4b;
}
/* icon chat */
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  background-color: #ba3b3b;
  color: #fff;
  border-radius: 30%;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chatbot-icon:hover {
  background-color: #C51605;
}
/* Model chat */
.modal-dialog {
  max-width: 400px;
}

.modal-content {
  border-radius: 10px;
}

.send{
  background-color:#ca4b4b ;
}

.send:hover{
  background-color: #ba3b3b ;
}

/* Chat */
.chat-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.user-message {
  background-color: #F6E7D8;
  color: #000000;
  border-radius: 10px;
  margin-left: 20%;
  margin-bottom: 10px;
  margin-right: 20px;
}

.chatbot-message {
  color: white;
  background-color: #ba3b3b;
  border-radius: 10px;
  margin-right: 20%;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
}